<html>

<head>
    <meta charset="UTF-8">
    <title>Your Rides Page</title>
    <link href="/public/assets/yourRides.css" rel="stylesheet" type="text/css" />
    <script type="module" src="yourRides.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="content">
            <header><u>Your Rides</u></header>
            <div id="yourRidesDiv"></div>
        </div>
        <div class="article">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <header>Ride Buddy.</header>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fd">Find Drivers</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fr">Find Riders</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yr">Your Rides</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="mess">Messages</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yp">Your Profile</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="lo">Log Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        window.onload = init
        document.getElementById("fd").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Drivers Page/findDrivers";
        });
        document.getElementById("fr").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Riders Page/findRiders";
        });
        document.getElementById("yr").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("mess").addEventListener("click", () => {
            window.location.href = "views/pages/Messages Page/messages";
        });
        document.getElementById("yp").addEventListener("click", () => {
            window.location.href = "views/pages/Your Profile Page/profile";
        });
        document.getElementById("lo").addEventListener("click", () => {
            window.location.href = "views/pages/logIn Page/login";
        });


        function init() {

            let mainDiv = document.getElementById("yourRidesDiv");
            let driver = document.createElement("div");
            driver.classList.add("driverHeading");
            let rider = document.createElement("div");
            rider.classList.add("riderHeading");
            driver.textContent = "Your Offered Drives";
            rider.textContent = "Your Booked Rides";
            driver.id = "driver";
            rider.id = "rider";
            mainDiv.append(driver);
            mainDiv.append(rider);



            let driveData = getDriveData();
            let rideData = getRidesData();

            for (let i = 0; i < driveData.length; ++i) {
                let temp = document.createElement("div");
                temp.classList.add("driver");
                let entry = JSON.parse(driveData[i])
                temp.textContent = "From: " + entry.from + " To: " + entry.to + " Date: " + entry.date + " Price: " + entry.price + " Seats: " + entry.seats;
                driver.append(temp);
            }

            for (let i = 0; i < rideData.length; ++i) {
                let temp = document.createElement("div");
                temp.classList.add("rider");
                let entry = JSON.parse(rideData[i])
                temp.textContent = "From: " + entry.from + " To: " + entry.to + " Date: " + entry.date + " Price: " + entry.price;
                rider.append(temp);
            }




        }


        function getRidesData() {

            /*
            will be used when server is activated, fake data for now
            let response = await fetch(url);
            if(response.ok){
                let response2 = await response.json();
                return response2;
            }else{
                alert("error getting data from server")
            }
            */


            let cities = ["New York", "Boston", "Hartford", "Amherst"];
            let dates = ["12/08/2022", "12/07/2022", "12/06/2022", "12/05/2022"];
            let prices = ["$30", "$40"];
            let seats = ["1", "2", "3"];
            console.log(cities[Math.floor(Math.random() * cities.length)]);
            let rideData = []
            for (let i = 0; i < 10; ++i) {
                let temp = {
                    from: cities[Math.floor(Math.random() * cities.length)], to: cities[Math.floor(Math.random() * dates.length)], date: dates[Math.floor(Math.random() * cities.length)],
                    price: prices[Math.floor(Math.random() * prices.length)]
                };
                rideData.push(JSON.stringify(temp));
            }

            return rideData;


        }

        function getDriveData() {

            /*
            will be used when server is activated, fake data for now
            let response = await fetch(url);
            if(response.ok){
                let response2 = await response.json();
                return response2;
            }else{
                alert("error getting data from server")
            }
            */

            let cities = ["New York", "Boston", "Hartford", "Amherst"];
            let dates = ["12/08/2022", "12/07/2022", "12/06/2022", "12/05/2022"];
            let prices = ["$30", "$40"];
            let seats = ["1", "2", "3"];

            let driveData = []
            for (let i = 0; i < 10; ++i) {
                let temp = {
                    from: cities[Math.floor(Math.random() * cities.length)], to: cities[Math.floor(Math.random() * dates.length)], date: dates[Math.floor(Math.random() * cities.length)],
                    price: prices[Math.floor(Math.random() * prices.length)], seats: seats[Math.floor(Math.random() * seats.length)]
                };
                driveData.push(JSON.stringify(temp));
            }
            return driveData;

        }



    </script>
</body>

</html>