<html>

<head>
    <meta charset="UTF-8">
    <title>Your Rides Page</title>
    <link href="/public/assets/yourRides.css" rel="stylesheet" type="text/css" />
    <script type="module" src="yourRides.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="content">
            <header><u>Your Rides</u></header>
            <div id="yourRidesDiv"></div>
        </div>
        <div class="article">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <header>Ride Buddy.</header>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fd">Find Drivers</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fr">Find Riders</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yr">Your Rides</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="mess">Messages</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yp">Your Profile</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="lo">Log Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        window.onload = init
        document.getElementById("fd").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Drivers Page/findDrivers"; 
        });
        document.getElementById("fr").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Riders Page/findRiders";
        });
        document.getElementById("yr").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("mess").addEventListener("click", () => {
            window.location.href = "/views/pages/Messages Page/messages";
        });
        document.getElementById("yp").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Profile Page/profile";
        });
        document.getElementById("lo").addEventListener("click", () => {
            window.location.href = "/views/pages/logIn Page/login";
        });


        function init(){
         getData();

      }

      async function getData(){

let responseR = await fetch('/getBookedRides');
let responseD = await fetch('/getOfferedRides');
if(responseR.ok && responseD.ok){
    let response1 = await responseD.json();
    let response2 = await responseR.json();
    let riderData = response2;
    let driverData = response1;
    populate(driverData,riderData);
    
}else{
    alert("error getting data from server")
}


}

function populate(dd,rd){
    let mainDiv = document.getElementById("yourRidesDiv");
   let driver = document.createElement("div");
    driver.classList.add("driverHeading");
   let rider = document.createElement("div");
    rider.classList.add("riderHeading");
    driver.textContent = "Your Offered Drives";
    rider.textContent = "Your Booked Rides";
    driver.id = "driver";
    rider.id = "rider";
    mainDiv.append(driver);
    mainDiv.append(rider);


    
    let driveData = dd;
    let rideData = rd;
    

    for(let i = 0; i<driveData.length; ++i){
        let temp = document.createElement("div");
        temp.classList.add("driver");
        let entry = driveData[i];
        temp.textContent = "Origin: " + entry.origin + " To: " + entry.destination + " Date: " + entry.date + " Price: " +entry.price + " Seats: " + entry.numOfSeats;
        driver.append(temp);
    }

    for(let i = 0; i<rideData.length; ++i){
        let temp = document.createElement("div");
        temp.classList.add("rider");
        let entry = rideData[i];
        temp.textContent = "Origin: " + entry.origin + " To: " + entry.destination + " Date: " + entry.date + " Price: " +entry.price + " Seats: " + entry.numOfSeats;
        rider.append(temp);
    }






}









    </script>
</body>

</html>
