<html>

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link href="/public/assets/profile.css" rel="stylesheet" type="text/css" />
    <!-- <script type="module" src="profile.js" defer></script> -->

</head>

<body>
    <br><br><br><br><br><br>
    <div class="centered">
        <header id="intro"><span>Hello</span> <span id="fn"> </span> <span id="ln"></span><span>!</span></header>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder=" First Name" id="firstName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Last Name" id="lastName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Birthday" name="Birthday" id="birthday" type="date" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Email Address" id="email" readonly />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Current Password" id="currentPassword" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="New Password" id="newPassword" />
    </div>
    <br><br>
    <div class="centered">
        <button class="myButton" id="back">Return to Dashboard</button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <button class="myButton" id="submit">Change Information</button>
    </div>
    <script>
        window.onload = init
        document.getElementById("back").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("submit").addEventListener("click", () => {
            changeInfo();
        });

        const userName = JSON.parse(window.localStorage.getItem("userName"));
        let userInformation = {};
        async function getUserServerCall(nReq) {
            let response = await fetch('/getUserInformation', {
                method: 'POST',
                body: JSON.stringify(nReq),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                }
            });
            
            if (response.ok) {
                let response2 = await response.json();
                userInformation = JSON.parse(JSON.stringify(response2));
                setter(userInformation);
            } 
            else {
                alert("Request failed");
            }
        }
        getUserServerCall(userName);

        function init() {
            getUserInfo();
        }

        function setter(u) {
            document.getElementById("firstName").value = u.firstName;
            document.getElementById("lastName").value = u.lastName;
            document.getElementById("birthday").value = u.birthday;
            document.getElementById("email").value = u.email;
            document.getElementById("fn").innerHTML = u.firstName;
            document.getElementById("ln").innerHTML = u.lastName;

        }

        function changeInfo() {

            let first = document.getElementById("firstName").value;
            let last = document.getElementById("lastName").value;
            let birth = document.getElementById("birthday").value;
            let email = document.getElementById("email").value;
            let pass = document.getElementById("password").value;
            let cPass = document.getElementById("confirmPassword").value;

            if (length(pass) > 0 && pass !== cPass) {
                alert("Password does not match confirmed password");
                return;
            }
            let userObject = {
                // Constant String
                "firstName": first,
                //Constant String
                "lastName": last,
                // Constant Date Object
                "birthday": birth,
                // Constant String
                "email": email,
                // Constant String
                "password": pass,
            };
            sendServer(userObject);

        }

        async function sendServer(nUser) {
            let response = await fetch('/createUser', {
                method: 'POST',
                json: true,
                body: JSON.stringify(nUser),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                }
            });


            if (response.ok) {
                let response2 = await response.json();
                alert("Welcome, you will now be redirected to the login page");
                window.location.href = "/views/pages/logIn Page/login";

            } else {
                alert("Sign up failed");
            }






        }

    </script>
</body>

</html>