<html>

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link href="/public/assets/profile.css" rel="stylesheet" type="text/css" />
    <!-- <script type="module" src="profile.js" defer></script> -->

</head>

<body>
    <br><br><br><br><br><br>
    <div class="centered">
        <header id="intro"><span>Hello</span> <span id="fn"> </span> <span id="ln"></span><span>!</span></header>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder=" First Name" id="firstName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Last Name" id="lastName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Birthday" name="Birthday" id="birthday" type="date"/>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Email Address" id="email" readonly/>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Current Password" id="currentPassword" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="New Password" id="newPassword" />
    </div>
    <br><br>
    <div class="centered">
        <button class="myButton" id="back">Return to Dashboard</button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <button class="myButton" id="submit">Change Information</button>
    </div>
    <script>
        window.onload = init
        document.getElementById("back").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("submit").addEventListener("click", () => {
            alert("Updated");
        });
        function init(){
            getUserInfo();
        }
        let userData = {};
        
        async function getUserInfo() {
            let res = await fetch('/getUserInformation');
            
            if (res.ok) {
                let response2 = await res.json();
                userData = JSON.parse(JSON.stringify(response2));
                setter(userData);

            } else {
                alert("error getting data from server")
            }
         

        }
        function setter(u) {
            document.getElementById("firstName").value = u.firstName;
            document.getElementById("lastName").value = u.lastName;
            document.getElementById("birthday").value = u.birthday;
            document.getElementById("email").value = u.email;
            document.getElementById("fn").innerHTML = u.firstName;
            document.getElementById("ln").innerHTML = u.lastName;

        }
        

    </script>
</body>

</html>
