<html>

<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link href="/public/assets/profile.css" rel="stylesheet" type="text/css" />
    <!-- <script type="module" src="profile.js" defer></script> -->

</head>

<body>
    <br><br><br><br><br><br>
    <div class="centered">
        <header id="intro"><div>Hello</div><div id="fn"> </div> <div id="ln"></div></header>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder=" First Name" id="firstName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Last Name" id="lastName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Birthday" id="birthday" type="date" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Email Address" id="email" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Current Password" id="currentPassword" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="New Password" id="newPassword" />
    </div>
    <br><br>
    <div class="centered">
        <button class="myButton" id="back">Return to Dashboard</button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <button class="myButton" id="submit">Change Information</button>
    </div>
    <script>
        window.onload = init
        document.getElementById("back").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("submit").addEventListener("click", () => {
            alert("Updated");
        });
        function init(){
            getUserInfo();
        }
        async function getUserInfo() {
            let res = await fetch('/getUserInformation');
            
            if (res.ok) {
                let response2 = await res.json();
                setter(response2);

            } else {
                alert("error getting data from server")
            }
         

        }
        function setter(u) {
            let userInfo = u;
            document.getElementById("firstName").value = userInfo[firstName];
            document.getElementById("lastName").value = userInfo[lastName];
            document.getElementById("birthday").value = userInfo[birthday];
            document.getElementById("email").value = userInfo[email];
            document.getElementById("fn").innerHTML = userInfo[firstName];
            document.getElementById("ln").innerHTML = userInfo[lastName];

        }
        

    </script>
</body>

</html>