header {
    background-color: #03045e;
    padding: 5px;
    color: white;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

section{
    overflow: hidden;
}

nav {
    float: left;
    width: 10%;
    padding: 20px;
}

nav ul {
    text-align: left;
    color: black; 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px;
    margin: 0 0 72px; 
    list-style-type: none;
    padding: 0;
}

.coolText {
    color: black; 
    font-weight: bold; 
    font-family: 'Open Sans', sans-serif;
    font-size: 25px; 
    font-weight: 300; 
    line-height: 10px;
    list-style-type: none;
}

.coolBox{
	padding: 0px;
    margin-top: 10px;
    width: fit-content;
	font-size: large;
	color: white;
	font-weight: bold;
	border-style: solid;
	border-color: #0077b6;
	border-width: thin;
}


article {
    overflow: hidden;
}

.container {  
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    gap: 0px 15px; 
    grid-auto-flow: row;
  }
  
.viewRides {
    grid-area: 1 / 1 / 2 / 3; 
}
  
.requestRides { 
    grid-area: 1 / 2 / 2 / 3; 
}
  

footer {
    background-color: #03045e;
    padding: 10px;
    text-align: center;
    color: white;
}

table {
    border:1px dashed #009193;
    border-collapse:collapse;
    padding:7px;
}
table th {
    border:1px dashed #009193;
    padding:7px;
    background: #009193;
    color: #ffffff;
}
table td {
    border:1px dashed #009193;
    text-align:center;
    padding:7px;
    background: #ffffff;
    color: #313030;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	font-style:italic;
	padding:5px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButtonTwo {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #03045e 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:10px;
	font-weight:bold;
	font-style:italic;
	padding:5px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButtonTwo:hover {
	background:linear-gradient(to bottom, #408c99 5%, #03045e 100%);
	background-color:#03045e;
}
.myButton:active {
	position:relative;
	top:1px;
}

.containerTwo {  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    grid-auto-flow: row;
  }
  
  .requestedRides { grid-area: 1 / 1 / 2 / 3; }
  
  .createRides { grid-area: 1 / 2 / 2 / 3; }

  .myButtonThree {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButtonThree:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButtonThree:active {
	position:relative;
	top:1px;
}

  