<html>

<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link href="/public/assets/signUp.css" rel="stylesheet" type="text/css" />
    <script type="module" src="signUp.js" defer></script>
</head>

<body>
    <br><br><br><br><br><br>
    <div class="centered">
        <header>Ride Buddy.</header>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder=" First Name" id="firstName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Last Name" id="lastName" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Birthday" id="birthday" type="date" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Email Address" id="email" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Password" id="password" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Confirm Password" id="confirmPassword" />
    </div> 
    <br><br>
    <div class="centered">
        <button class="myButton" id="submit">Submit</button>
    </div>
    <br>
    <div class="centered">
        <p>Already a user? <u id="toLogin">Log In</u></p>
    </div>
    <script>
        document.getElementById("submit").addEventListener("click", () => {
                validateInfo();
            
        });
        document.getElementById("toLogin").addEventListener("click", () => {
           window.location.href = "/views/pages/logIn Page/login";
        });
function validateInfo() {

    let first = document.getElementById("firstName").value;
    let last = document.getElementById("lastName").value;
    let birth = document.getElementById("birthday").value;
    let email = document.getElementById("email").value;
    let pass = document.getElementById("password").value;
    let cPass = document.getElementById("confirmPassword").value;

    if (first.length === 0 || last.length === 0) {
        alert("Name is not filled out");
        return;
    }

    if (pass !== cPass) {
        alert("Password does not match confirmed password");
        return;
    }

    if (email.indexOf("@") === -1) {
        alert("not a valid email address");
        return;
    }

    let userObject = {
            // Constant String
                "firstName" :first, 
                //Constant String
                "lastName": last, 
                // Constant Date Object
                "birthday": birth, 
                // Constant String
                "email": email, 
                // Constant String
                "password": pass ,
            };
  sendServer(userObject);

}

async function sendServer(nUser) {
   let response = await fetch('/createUser', {
  method: 'POST',
  json: true,
  body: JSON.stringify(nUser),
  headers: {
    'Content-type': 'application/json; charset=UTF-8',
  }
  });
  
    if(response.ok){
        let response2 = await response.json();
        console.log("recieved user");
        alert("Welcome, you will now be redirected to the login page");
        window.location.href = "/views/pages/logIn Page/login";
        
    }else{
        if(response.status === 401){
            alert("User exists. Sign up with a different email address.");

        }
        alert("Sign up failed");
    }
    
    




}

    </script>
</body>

</html>
