<html>

<head>
    <meta charset="UTF-8">
    <title>Messages Page</title>
    <link href="/public/assets/messages.css" rel="stylesheet" type="text/css" />
    <div class="centered">
        <header>Ride Buddy.</header>
    </div>


</head>

<body>
    <div class="container">
        <div class="content">
            <header><u>Messages</u></header>
            <div class="containerTwo">
                <div class="lastName">
                    <div id="last">
                        <header>Last Name </header>
                    </div>
                </div>
                <div class="firstName">
                    <div id="first">
                        <header>First Name</header>
                    </div>
                </div>
                <div class="email">
                    <div id="email">
                        <header>Email</header>
                    </div>
                </div>
                <div class="rideId">
                    <div id="rideId">
                        <header>RideId</header>
                    </div>
                </div>
              </div>
        </div>
        <div class="article">
            <table>
                <tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fd">Find Drivers</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fr">Find Riders</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yr">Your Rides</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="mess">Messages</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yp">Your Profile</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="lo">Log Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const username = "<%= email%>";
        document.getElementById("fd").addEventListener("click", () => {
            const url = '/findDrivers/' + JSON.stringify({ email: username });
            window.location.href = url;
        });
        document.getElementById("fr").addEventListener("click", () => {
            window.location.href = '/findRiders/' + JSON.stringify({ email: username });
        });
        document.getElementById("yr").addEventListener("click", () => {
            window.location.href = '/yourRides/' + JSON.stringify({ email: username });
        });
        document.getElementById("mess").addEventListener("click", () => {
            const url = '/messages/' + JSON.stringify({ email: username });
            window.location.href = url;
        });
        document.getElementById("yp").addEventListener("click", () => {
            window.location.href = '/yourProfile/' + JSON.stringify({ email: username });
        });
        document.getElementById("lo").addEventListener("click", () => {
            window.location.href = "/";
        });


        window.onload = init;

        function init() {
            getMessageData(username);
        }

        //Display function to show user their contacts.
        function populate(info) {
            let f = document.getElementById("first");
            let l = document.getElementById("last");
            let e = document.getElementById("email");
            let r = document.getElementById("rideId");

            for (let i = 0; i < info.length; ++i) {
                let first = document.createElement("div");
                let last = document.createElement("div");
                let ema = document.createElement("div");
                let ride = document.createElement("div");

                first.textContent = info[i].fname;
                last.textContent = info[i].lname;
                ema.textContent = info[i].email;
                ride.textContent = info[i].rideid;

                first.classList.add("thisIsAGoodBox");
                last.classList.add("thisIsAGoodBox");
                ema.classList.add("thisIsABetterBox");
                ride.classList.add("thisIsABetterBox")

                f.append(first);
                l.append(last);
                e.append(ema);
                r.append(ride)

            }
        }
        //Server call to get user related message data. 
        async function getMessageData(username) {
            let url = '/rides/messageData/' + JSON.stringify(username);
            let response = await fetch(url);

            if (response.status === 200) {
                let response2 = await response.json();
                let messageData = response2;
                populate(messageData);
            } else if (response.status === 201) {
                let f = document.getElementById("first");
                let message = document.createElement("div");
                message.textContent = "No Message Information. Please book a ride to see contact information."
                message.classList.add("thisIsAGoodBox");
                f.append(message);

            }

            else {
                alert("error receiving data from server")
            }
        }

    </script>
</body>

</html>