<html>

<head>
    <meta charset="UTF-8">
    <title>Your Rides Page</title>
    <link href="/public/assets/yourRides.css" rel="stylesheet" type="text/css" />
    <div class="centered">
        <header>Ride Buddy.</header>
    </div>

</head>

<body>
    <div class="container">
        <div class="content">
            <header><u>Your Rides</u></header>
            <div id="yourRidesDiv" class="yourRidesDiv"></div>
        </div>
        <div class="article">
            <table>
                <tbody>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fd">Find Drivers</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fr">Find Riders</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yr">Your Rides</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="mess">Contact</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yp">Your Profile</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="lo">Log Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const username = "<%= email%>";
        window.onload = init
        document.getElementById("fd").addEventListener("click", () => {
            const url = '/findDrivers/' + JSON.stringify({ email: username });
            window.location.href = url;
        });
        document.getElementById("fr").addEventListener("click", () => {
            const url = '/findRiders/' + JSON.stringify({ email: username });
            window.location.href = url;
        });
        document.getElementById("yr").addEventListener("click", () => {
            window.location.href = '/yourRides/' + JSON.stringify({ email: username });
        });
        document.getElementById("mess").addEventListener("click", () => {
            const url = '/messages/' + JSON.stringify({ email: username });
            window.location.href = url;
        });
        document.getElementById("yp").addEventListener("click", () => {
            window.location.href = '/yourProfile/' + JSON.stringify({ email: username });
        });
        document.getElementById("lo").addEventListener("click", () => {
            window.location.href = "/";
        });


        function init() {
            getData();
        }

        //Server call to recieve all rides relating to user with type offered and requested.
        async function getData() {
            let bookedURL = '/rides/getBookedRides/' + JSON.stringify(username);
            let offeredURL = '/rides/getOfferedRides/' + JSON.stringify(username);
            let responseR = await fetch(bookedURL);
            let responseD = await fetch(offeredURL);
            if (responseR.ok && responseD.ok) {
                let response1 = await responseD.json();
                let response2 = await responseR.json();
                let riderData = response2;
                let driverData = response1;
                populate(driverData, riderData);

            } else {
                alert("error getting data from server")
            }


        }

        //display function to populate page with rides information.
        function populate(dd, rd) {
            let mainDiv = document.getElementById("yourRidesDiv");
            let driver = document.createElement("div");
            driver.classList.add("driverHeading");
            let rider = document.createElement("div");
            rider.classList.add("riderHeading");
            driver.textContent = "Your Offered Drives";
            rider.textContent = "Your Booked Rides";
            driver.id = "driver";
            rider.id = "rider";
            mainDiv.append(driver);
            mainDiv.append(rider);

            let driveData = dd;
            let rideData = rd;

            for (let i = 0; i < rideData.length; ++i) {
                let temp = document.createElement("div");
                temp.classList.add("rider");
                let entry = rideData[i];
                temp.textContent = "Ride ID: " + entry.rideid + "\t Origin: " + entry.origin + " To: " + entry.destination + " Date: " + entry.date + " Price: " + entry.price;
                rider.append(temp);
            }

            for (let i = 0; i < driveData.length; ++i) {
                let temp = document.createElement("div");
                temp.classList.add("driver");
                let entry = driveData[i];
                temp.textContent = "Ride ID: " + entry.rideid + "\t Origin: " + entry.origin + " To: " + entry.destination + " Date: " + entry.date + " Price: " + entry.price;
                driver.append(temp);
            }

        }

    </script>
</body>

</html>