<html>

<head>
    <meta charset="UTF-8">
    <title>Messages Page</title>
    <link href="/public/assets/messages.css" rel="stylesheet" type="text/css" />
    <script type="module" src="messages.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="content">
            <header><u>Messages</u></header>
            <div class="containerTwo">
                <div class="Name" id="first">
                    <header>First Name</header>
                </div>
                <div class="Email" id="last">
                    <header>Last Name </header>
                </div>
                <div class="Last-Contacted-On" id="email">
                    <header>Email</header>
                </div>
            </div>
        </div>
        <div class="article">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <header>Ride Buddy.</header>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fd">Find Drivers</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fr">Find Riders</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yr">Your Rides</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="mess">Messages</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yp">Your Profile</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="lo">Log Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById("fd").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Drivers Page/findDrivers";
        });
        document.getElementById("fr").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Riders Page/findRiders";
        });
        document.getElementById("yr").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("mess").addEventListener("click", () => {
            window.location.href = "/views/pages/Messages Page/messages";
        });
        document.getElementById("yp").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Profile Page/profile";
        });
        document.getElementById("lo").addEventListener("click", () => {
            window.location.href = "/views/pages/logIn Page/login";
        });

        const userName = JSON.parse(window.localStorage.getItem("userName"));
        console.log(userName);

        window.onload = init;

        function init(){
            getMessageData();
        }

        function populate(info){
            let f = document.getElementById("first");
            let l = document.getElementById("last")
            let e = document.getElementById("email");

            for(let i = 0; i<info.length; ++i){
                let first = document.createElement("div");
                let last= document.createElement("div");
                let ema = document.createElement("div");
                first.textContent = info[i].firstName;
                last.textContent = info[i].lastName;
                ema.textContent = info[i].email;
                first.classList.add("thisIsAGoodBox");
                last.classList.add("thisIsAGoodBox");
                ema.classList.add("thisIsABetterBox");
                f.append(first);
                l.append(last);
                e.append(ema);
            }
        }

        async function getMessageData(){
         let response = await fetch('/messageData');
         if(response.ok){
            let response2 = await response.json();
            populate(response2);
         }else{
            alert("error loading data");
         }
        }

    </script>
</body>

</html>