<html>

<head>
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<br><br><br><br><br><br>

<div class="centered">
    <header>Ride Buddy.</header>
</div>
<div class="centered">
    <button class="myButton" id="loginButton">LOGIN</button>
    <% if (true) { %>
        <script>
            document.getElementById("loginButton").addEventListener("click", () => {
                window.location.href = "views/pages/logIn Page/login";
            });
        </script>
    <% } %>
    
</div>

</html>