<html>

<head>
    <meta charset="UTF-8">
    <title>Find Drivers Page</title>
    <link href="/public/assets/findDrivers.css" rel="stylesheet" type="text/css" />
    <script type="module" src="findDrivers.js" defer></script>

</head>

<body>
    <div class="container">
        <div class="content">
            <header><u>Find Drivers</u></header>
            <div class="owcontainer">
                <div class="Availble-rides">
                    <header>Available Rides</header>
                    <div id="avalRides" class="avalRides"></div>
                </div>
                <div class="Request">
                    <header>Request a Ride!</header>
                    <input placeholder="From Location*" id="from" />
                    <input placeholder="To Location*" id="to" />
                    <input placeholder="Date*" id="date" type="date" />
                    <input placeholder="Ideal Price*" id="idealPrice" />
                    <input placeholder="Additional Information" id="adInfo" />
                    <br><br>
                    <button class="myButton2" id="sub">Submit</button>
                </div>
            </div>
        </div>
        <div class="article">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <header>Ride Buddy.</header>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fd">Find Drivers</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="fr">Find Riders</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yr">Your Rides</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="mess">Messages</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="yp">Your Profile</button></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="myButton" id="lo">Log Out</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        document.getElementById("fd").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Drivers Page/findDrivers";
        });
        document.getElementById("fr").addEventListener("click", () => {
            window.location.href = "/views/pages/Find Riders Page/findRiders";
        });
        document.getElementById("yr").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Rides Page/yourRides";
        });
        document.getElementById("mess").addEventListener("click", () => {
            window.location.href = "/views/pages/Messages Page/messages";
        });
        document.getElementById("yp").addEventListener("click", () => {
            window.location.href = "/views/pages/Your Profile Page/profile";
        });
        document.getElementById("lo").addEventListener("click", () => {
            window.location.href = "/views/pages/logIn Page/login";
        });
        document.getElementById("sub").addEventListener("click", () => {
            console.log("test")
            validateInfo();
        });
        window.onload = init
        function init() {
            getData();
        }
      
        let obj = [];
        async function getData() {

            let responseR = await fetch('/getAllOfferedRides');
            if (responseR.ok) {
                let response2 = await responseR.json();
                obj = response2
                populate(obj);

            } else {
                alert("error getting data from server")
            }


        }

        function populate(rd) {

            let mainDiv = document.getElementById("avalRides");
            let rider = document.createElement("div");
            rider.classList.add("riderHeading");
            rider.textContent = "";
            rider.id = "rider";
            mainDiv.append(rider);
            let rideData = rd;

            for (let i = 0; i < rideData.length; ++i) {
                let temp = document.createElement("div");
                temp.classList.add("rider");
                let entry = rideData[i];

                temp.textContent = "Origin: " + entry.origin + " To: " + entry.destination + " Date: " + entry.date + " Price: " + entry.price + " Seats: " + entry.numOfSeats;
                rider.append(temp);
            }
        }

        function validateInfo() {

            let from = document.getElementById("from").value;
            let to = document.getElementById("to").value;
            let date = document.getElementById("date").value;
            let price = document.getElementById("idealPrice").value;
            let addInfo = document.getElementById("adInfo").value;

            if (from.length === 0 || to.length === 0 || date.length === 0 || price.length === 0 ) {
                alert("All required fields are not filled out");
                return;
            }

            let userObject = {
                // Constant String
                "from": from,
                //Constant String
                "to": to,
                // Constant Date Object
                "date": date,
                // Constant String
                "price": price,
                // Constant String
                "addInfo": addInfo,
            };
            sendServer(userObject);

        }
        async function sendServer(nReq) {

            let response = await fetch('/requestRide', {
                method: 'POST',
                body: JSON.stringify(nReq),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8',
                }
            });

            if (response.ok) {
                let response2 = await response.json();
                alert("Your request has been created. Hang tight as we let the drivers know!");

            } else {
                alert("Request failed");
            }






        }
    </script>
</body>

</html>
