<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <br><br><br><br><br><br>
        <div class="centered">
            <header>Ride Buddy.</header>
        </div>
        <br><br>
        <div class="centered">
            <input placeholder="Username" id="Username"/>
        </div>
        <br><br>
        <div class="centered">
            <input placeholder="Password" id="Password"/>
        </div>
        <br><br>
        <div class="centered">
            <button class="myButton" id="submit">Submit</button>
        </div>
        <br>
        <div class="centered">
            <p>Not already a user? <u>Sign Up</u></p>
        </div>
    </body>
</html>