<html>

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link href="/public/assets/login.css" rel="stylesheet" type="text/css" />
    <script type="module" src="login.js" defer></script>

</head>

<body>

    <br><br><br><br><br><br>
    <div class="centered">
        <header>Ride Buddy.</header>
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Username" id="Username" />
    </div>
    <br><br>
    <div class="centered">
        <input placeholder="Password" id="Password" />
    </div>
    <br><br>
    <div class="centered">
        <button class="myButton" id="submit">Submit</button>
    </div>

    <br>
    <div class="centered">
        <p>Not already a user? <u id="signup">Sign Up</u></p>
    </div>
    <script>
        let username = document.getElementById("Username").value;
        let pass = document.getElementById("Password").value;
    
        document.getElementById("submit").addEventListener("click", () => {
            if (isExistingUser()) {
                window.location.href = "/views/pages/Your Rides Page/yourRides";
            }
            else{
                alert("Please enter a username and password to login");
            }
        });
        document.getElementById("signup").addEventListener("click", () => {
            window.location.href = "/views/pages/Sign Up Page/signUp";
        });
        function isExistingUser(u) { //currently works with any username and password until we create the database
            username = document.getElementById("Username").value;
            pass = document.getElementById("Password").value;

            if (username.length != 0 && pass.length != 0) {
                return verify();
            }
            else{
                return false;
            }
        }
        async function verify() {
            let responseR = await fetch('/verifyUser');
            if (responseR.ok) {
                let response1 = await responseR.json();
                let userData = response1;
                isExistingUser(userData);
            } else {
                alert("error getting data from server")
            }
 
        }
    </script>
</body>

</html>